<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/static/css/host.css">
<!--echarts-->
<script src="/static/js/echarts.min.js"></script>
<style type="text/css">
.detectionTal tr th:nth-child(1), .detectionTal tr td:nth-child(1){
	width:9%;
}
.detectionTal tr th:nth-child(3), .detectionTal tr td:nth-child(3), .detectionTal tr th:nth-child(4), .detectionTal tr td:nth-child(4){
	width:30%;
}
</style>
 <!--[if lte IE 9]>
	     <style type="text/css">
	     	.hd_echarts{
	     		height:266px;
	     	}
	     	.h_ie_fl{
	     		float:left;
	     	}
	     	.hd_ipInfo, .hd_relationCon, .h_tf_ie{
	     		float:left;
	     		width:33%;
	     	}
	     	.h_b_ie{
	     		float:left;
	     		width:45%;
	     	}
	     	.pagination li a{
				display:inline-block;
				width:98%;
				height:auto;
			}
			.page_hostBtn{
				float:right;
			}
			.hd_conBtn i{
				top:0;
			}
			.bgColor07{
				height:184px;
			}
	     </style>
	<![endif]-->
	
<div class="hostPage">
    <!--头部菜单-->
    <header class="header">
        <div class="main_content_header flex_one">
        	<input type="hidden" value="${detectionThreat.stage}" id="threatSatgeNum"/>
            <div class="main_title f_one h_b_ie">
            	<span class="roundBg round_medmax deteTitle"></span>${detectionThreat.typeZh}
            	<a href="javascript:;" class="detec_particulars_btn">详情</a>
            </div>
            <div class="f_one text-r changePageBtn h_b_ie">
                <span class="page_hostBtn" onclick="reloadPage()"> < </span>
            </div>
            <div class="clearfix"></div>
        </div>
    </header>

    <!---->
    <div class="h_Chart h_backgrCor">
            <div class="flex_one hd_echarts">
                    <div class="f_one h_tf_ie">
                        <!--IP info-->
                        <div class="f_one hd_ipInfo">
                            <h3 class="t-h2 textColor2 hostIp_label">${detectionThreat.hostName}</h3>
                            <p class="padd_t">主机IP：<span class="hostIp_host">${detectionThreat.hostIp}</span></p>
                            <p>数据源： ${source['${detectionThreat.source}']}</p>
                            <p>状态：${detectionThreat.hostStatusStr }</p>
                            <div class="mar_t2">
                            	<input type="hidden" value="${detectionThreat.stage}"/>
                                <span><a href="#" class="tab_name" onclick="showAddLabel()"><i class="ic_label"></i>标签+</a></span>
                                <span><a href="#" class="tab_name" data="${detectionThreat.hostThreatId?c}" onclick="showDispose(this)"><i class="ic_dispose"></i>处理</a></span>
                                <span><a href="#" class="tab_name"><i class="ic_pcaps"></i>PCAPs</a></span>
                            </div>
                            <div class="labelName">
		                   		<input type="hidden" value="${tags?default('')}" id="labelStr"/>
		                        <!-- <a href="#">标签签名01</a>
		                        <a href="#">标签签名02</a> -->
                    		</div>
                        </div>
                    </div> 
                    

                    <!--入侵-->
                    <div class="f_one h_tf_ie">
                        <h3 class="t-h2 textColor2">入侵</h3>
                        <div class="padd_tb invade_con">
                            <div class="invade_top clearfix padd_l">
                                <div class="borderTriangle posRe f_left"><i class="triangle-right"></i></div>
                                <a href="#" class="invadeLI f_left"><span class="attackType roundBgc_dgray posRe text_1 stage_4">突破</span></a>
                                <div class="borderTriangle3 posRe f_left"><i class="triangle-right"></i></div>
                                <a href="#" class="invadeLI f_left"><span class="attackType roundBgc_dgray posRe text_2 stage_6">侦查</span></a>
                                <div class="borderTriangle6 posRe f_left"><i class="triangle-down"></i></div>
                            </div>
                            <div class="invade_center clearfix mar_tb">
                                <a href="#" class="invadeLI f_left"><span class="attackType roundBgc_dgray posRe text_0 stage_1">侦查</span></a>
                                <a href="#" class="invadeLI f_left" style="margin-left:188px"><span class="attackType roundBgc_dgray posRe text_3 stage_7">攻击</span></a>
                            </div>
                          	<!-- <div class="invade_bottom clearfix padd_l">
                                  <div class="borderTriangle2 posRe f_left"><i class="triangle-right"></i></div>
                                <a href="#" class="invadeLI"><span class="attackType roundBgc_dgray posRe f_left text_2 stage_6">控制</span></a>
                                <div class="borderTriangle3 posRe f_left"><i class="triangle-right"></i></div>
                                <a href="#" class="invadeLI"><span class="attackType roundBgc_dgray posRe f_left text_3 stage_7">攻击</span></a>
                                
                            </div> -->
                            
                           	<div class="clearfix mar_t" id="threatSatge" style="padding-top:35px;padding-left: 33px;">
                           		<#list stage?keys as key>
									<span class="attackType stage_${key}">${stage[key]}</span>
								</#list>
							</div>
                            <!-- <div class="clearfix mar_t padd_t">
                                <span class="attackType roundBgc_dgray">遥控</span>
                                <span class="attackType roundBgc_dgray">鸡肉</span>
                                <span class="attackType roundBgc_dgray">嗅探</span>
                                <span class="attackType roundBgc_dgray">扩散</span>
                                <span class="attackType roundBgc_dgray">泄露</span>
                            </div> -->
                        </div>
                        <div class="invadeInfo posAb" style="display:none">
                            <p class="text-c">检测到威胁<a href="javascript:;" class="close"> X </a></p>
                            <ul>
                            <#list stage?keys as key>
                                <li><i class="roundIcon bg_${key}"></i>${stage[key]}&nbsp;&nbsp;&nbsp;&nbsp;${key}</li>
                             </#list>
                            </ul>
                        </div>
                    </div>

                    <!---->
                    <div class="f_one h_tf_ie">
                        <p>威胁度：</p>
                        <div class="mar_tb posRe">
                            <div id="slider" class="detec-widget-content" data="sliderValue1" value="${detectionThreat.threat}">
                            	<i class="slider_i"></i>
                            </div>
                            <div id="sliderValue1" class="silderValue posRe">
                                <i></i>
                                <span class="t_radius">${detectionThreat.threat}</span>
                            </div>
                        </div>
                        <p>可信度：</p>
                        <div class="mar_tb trust posRe">
                            <div id="slider2" class="detec-widget-content" data="sliderValue2" value="${detectionThreat.certainty}">
                            	<i class="slider2_i"></i>
                            </div>
                            <div id="sliderValue2" class="silderValue posRe">
                                <i></i>
                                <span class="t_radius">${detectionThreat.certainty}</span>
                            </div>
                        </div>
                    </div>
            </div>

            <div class="flex_one padd_tb bgColor07">
                <!--资料图-->
                <div class="f_one sourceMap h_tf_ie">
                    <h3 class="t-h2 textColor2 padd_l">资料图</h3>
                    <div class="padd_tb padd_l">
                        <span class="roundBg round_max roundBgc_dgray f_left"><i class="host_icon_2"></i></span>
                        <div class="f_left text-c">
                            <i class="ic_file padd_tb1"></i>
                            <div class="borderTriangle4 posRe"><i class="triangle-right"></i></div>
                            <p class="t-hmin textColor2 padd_tb1">下载恶意文件</p>
                        </div>
                        <span class="roundBg round_medmax roundBgc_yellow deteTitle">肉鸡</span>
                    </div>
                </div>

                <!--检测摘要-->
                <div class="f_one h_tf_ie">
                    <div class="f_one hd_ipInfo t-hmin" id="hd_digestInfo">
                        <h3 class="t-h2 textColor2">检测摘要</h3>
                       <p class="padd_t">内网主机：<a href="#" class="tab_name">${detectionThreat.hostName}</a></p>
                        <!--  <p>外网入侵服务器：xxxxxxxxxxx</p>
                        <p>下载次数：xxxxxxxxxxx</p>
                        <p>文件：xxxxxxxxxxxxxxxxxxxxxxxxxxx</p> -->
                    </div>
                </div>

                <!--时间轴-->
                <div class="f_one h_tf_ie">
                    <h3 class="t-h2 textColor2">时间轴</h3>
                    <div id="deteSoftChart" style="width:96%;height:120px;"></div>
                </div>
            </div>
    </div>


    <!--主机状态-->
    <div class="h_Chart h_backgrCor mar_t padd_b">
    	<div class="flex_one">
    		<div class="f_one h_b_ie"><h3 class="t-h2 textColor2 padd_tb padd_l">最近活动：</h3></div>
    		<div class="f_one h_b_ie">
    			<div id="page1" class="f_right" style="width:529px;line-height:24px;font-size: 12px;padding:23px 21px;text-align:right;">
    				<ul id="pageLimit" class="f_left" style="display:inline-block;text-align:right;"></ul>
					<span class="">共<span class="countItem">0</span>条记录</span>
    			</div>
    		</div>
    	</div>
        
        <!--table数据-->
        <div class="tab_body">
            <div class="tab_child lj_tabl">
                <table border="0" cellspacing="0" cellpadding="0" id="detectionDetailTal" class="detectionTal">
                    <thead>
                    <tr class="title">
                        <th>标签</th>
                        <th>IP</th>
                        <th>URL</th>
                        <th>文件名</th>
                        <th>文件大小</th>
                        <th>端口</th>
                        <th>最近发现时间</th>
                    </tr>
                    </thead>
                    <tbody>
                   <!--  <tr>
                        <td><a class="tab_name" href="#"><i class="ic_label"></i>+</a></td>
                        <td><span class="attackType c_violet">泄露</span></td>
                        <td><a class="tab_name" href="#">WIN7-xx789</a></td>
                        <td><a class="tab_name" href="#">WIN7-xx789</a></td>
                        <td><span class="t_radius">92</span></td>
                        <td><span class="t_radius">78</span></td>
                        <td>2017-10-10 18:22</td>
                    </tr>
                    <tr>
                        <td><a class="tab_name" href="#"><i class="ic_label"></i>+</a></td>
                        <td><span class="attackType c_orange">泄露</span></td>
                        <td><a class="tab_name" href="#">WIN7-xx789</a></td>
                        <td><a class="tab_name" href="#">WIN7-xx789</a></td>
                        <td><span class="t_radius">92</span></td>
                        <td><span class="t_radius">78</span></td>
                        <td>2017-10-10 18:22</td>
                    </tr>
                    <tr>
                        <td><a class="tab_name" href="#"><i class="ic_label"></i>+</a></td>
                        <td><span class="attackType c_blue">泄露</span></td>
                        <td><a class="tab_name" href="#">WIN7-xx789</a></td>
                        <td><a class="tab_name" href="#">WIN7-xx789</a></td>
                        <td><span class="t_radius">92</span></td>
                        <td><span class="t_radius">78</span></td>
                        <td>2017-10-10 18:22</td>
                    </tr> -->
                    </tbody>
                </table>
            </div>
        </div>


    </div>
	
	
	<!--弹窗-->
	<!-- <div class="description" id="label_w" style="display:none">
		<div class="particulars" style="width:250px">
			<div class="text_edit clearfix">
				<h3 class="succ_title"><span>添加标签：</span></h3>
				<p class="close"><img src="/static/img/close.png" width="18" height="17" onclick="hide('label_w')"></p>
				<input type="text" placeholder="请输入标签名" class="label_name"/>
				<div class="info_btns">
					<p><span class="btn1 cancel" onclick="hide('label_w')">取消</span><span class="btn1 labelbtn" onclick="addLabel(this)">提交</span></p>
				</div>
			</div>
		</div>
	</div> -->
	
	
	<div class="description" id="detec_particulars" style="display:none">
		<div class="particulars" style="">
			<div class="text_edit clearfix">
				<h3 class="succ_title"><span></span></h3>
				<p class="close"><img src="/static/img/close.png" width="18" height="17" onclick="hide('detec_particulars')"></p>
				<div class="flex_one padd_tb padding_lr">
					<div class="f_one">
						<h3>标题xxxxxxxxx</h3>
						<p>名称xxxxx</p>
					</div>
					<div class="f_three f_left">
						<a href="javascript:;" class="black_btn">下载全部文档</a>
					</div>
				</div>
				<div class="flex_one padd_tb padding_lr" style="width:96.9%;height:296px;background-color:#0d0d0d">
					<div class="f_one h_ie_fl" style="width:50%;">
						<div class="sourceMap" style="width:70%;height:195px;padding-top: 60px;margin:0 15%;border-right:1px solid #333;">
		                    <div class="padd_tb padd_l">
		                        <span class="roundBg round_max roundBgc_dgray f_left"><i class="host_icon_2"></i></span>
		                        <div class="f_left text-c">
		                            <i class="ic_file padd_tb1"></i>
		                            <div class="borderTriangle4 posRe"><i class="triangle-right"></i></div>
		                            <p class="t-hmin textColor2 padd_tb1">下载恶意文件</p>
		                        </div>
		                        <span class="roundBg round_medmax roundBgc_yellow deteTitle">鸡肉</span>
		                    </div>
	                    </div>
	                </div>
	                
					<div class="f_one h_ie_fl" style="width:50%;">
						<div class="" style="width:80%;">
						<p>可信度：</p>
                        <div class="mar_tb trust">
                            <div id="slider2" class="detec-widget-content" data="sliderValue2" value="${detectionThreat.certainty}">
                            	<i class="slider2_i"></i>
                            </div>
                            <div id="sliderValue2" class="silderValue posRe">
                                <i></i>
                                <span class="t_radius">${detectionThreat.certainty}</span>
                            </div>
                        </div>
                        <p>威胁度：</p>
                        <div class="mar_tb">
                            <div id="slider" class="detec-widget-content" data="sliderValue1" value="${detectionThreat.threat}">
                            	<i class="slider_i"></i>
                            </div>
                            <div id="sliderValue1" class="silderValue posRe">
                                <i></i>
                                <span class="t_radius">${detectionThreat.threat}</span>
                            </div>
                        </div>
						</div>
					</div>
				</div>
				<div class="flex_one padd_tb padding_lr" style="clear:both;">
					<p>xxxxxxxxxxxxxxxxxxxx</p>
					<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
				</div>
			</div>
		</div>
	</div>

	
</div>
<script src="/static/js/common_h.js"></script>
<!-- <script src="/static/js/page.js"></script> -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-paginator.min.js"></script>
<script src="/static/js/detection/detection_detail.js"></script>
</body>
<script>
   	
   		var labelName = "";
   		var labelStr = $("#labelStr").val();
   		if(labelStr.indexOf(",") > 0 ){
   			var newLable = labelStr.split(",");
   			for (var i = 0 ; i < newLable.length; i++) {
   				labelName += "<a href='#'>"+newLable[i]+"</a>";
   			}
   		} else {
   			labelName = "<a href='#'>"+labelStr+"</a>";
   		}
   		$(".labelName").append(labelName);
   </script>
<script>
	var hostIp = '${detectionThreat.hostIp}';
	var detectId = ${detectionThreat.detectId?c};
	
    //detecDetail_host(); //获取主机信息
    detecDetail_threat();//获取入侵
    detecDetail_timeShaft();//时间轴
    detecDetail_abstract(); //检测摘要
    detecDetail_tbl();//列表
    
    $(".detec_particulars_btn").bind("click",function(){
    	$("#detec_particulars").show();
    })
</script>
</html>