*{
    border:none;
    margin:0;
    padding:0;
    -webkit-tap-highlight-color:transparent;
}
.t-max{
    font-size:40px;
}
.t-h1{
    font-size:20px;
}
.t-h2{
    font-size:18px;
}
.t-h3{
    font-size:16px;
}
.t-hmin{
    font-size:12px;
}
.f-weight{
    font-weight: 600;
}
.mar_t{
    margin-top:15px;
}
.mar_t2{
    margin-top:60px;
}
.mar_l{
    margin-left:25px;
}
.mar_tb{
    margin-top:15px;
    margin-bottom:15px;
}
.border_line{
    border-top:1px solid #070b19;
}
.padd_t{
    padding-top:24px;
}
.padd_b{
    padding-bottom:20px;
}
.padd_tb{
    padding-top:20px;
    padding-bottom:20px;
}
.padd_l{
    padding-left:20px;
}
.padding_lr{
    padding-left:20px;
    padding-right:20px;
}
.f_one{
    flex: 1;
}
.f_two{
    flex: 2;
}
.f_three{
    flex: 3;
}
.color-f{
    color:#fff;
}
.textColor{
    color:#a2a3aa;
}
.textColor2{
    color:#9D9FA5;
}
.posRe{
    position:relative;
}
.posAb{
    position:absolute;
}
.text-l{
    text-align: left;
}
.text-c{
    text-align: center;
}
.text-r{
    text-align: right;
}
.bgColor07{
    background:#070b18;
}
.black_btn{
    font-size:12px;
    color:#fff;
    background:#305c94;
    display: inline-block;
    padding:3px 20px;
    border-radius:10px;
}
.cls{
background:#2e3344!important;
}
/*搜索框*/
.searchBox{
    border:1px solid #575C6A;
    border-radius:3px;
    background: #2e3344;
    width:215px;
    height:20px;
}
.search_text{
    border:none;
    border:0px solid;
    background: #2e3344;
    width:78%;
    height:20px;
    padding:0 10px;
    color:#fff;
    /*color:#d9dbde;*/
}
.search_btn{
    width:20px;
    background: url(../img/host_icon.png) no-repeat;
    background-position:0 -287px;
    margin:2px 0 0 0;
    cursor: pointer;
}

/*
* 主机
*/
.hostPage{
    background:none;
    background-color:transparent;
}
.hostPage .h_backgrCor{
    background-color:#0C0F20
}
.main_content_header .main_title .more{
    border:1px solid #464c63;
    padding:2px 10px;
    color:#3381df;
    font-size: 12px;
    position: relative;
    top: -3px;
}
.changePageBtn{
    padding-right:50px;
    font-family: serif,fantasy;
}
.changePageBtn span{
    border:1px solid #464c63;
    display: inline-block;
    width:30px;
    height:30px;
    line-height:30px;
    border-radius:100%;
    margin:24px 0 0 0;
    text-align:center;
    cursor:pointer;
}
.hostPage .h_Chart{
    /*height:300px;*/
}
.h-chat_title{
    height:36px;
    line-height:36px;
    color:#fff;
}
.hostPage .grade_height{
    background: url(../img/host_icon.png) no-repeat;
    background-position:-73px 0;
    padding-left:50px;
}
.hostPage .grade_low{
    background: url(../img/host_icon.png) no-repeat;
    background-position:0 -79px;
    padding-left:58px;
}
.hostPage .grade_middle, .hostPage .grade_anxious{
    width:190px;
    height:36px;
}
.hostPage .grade_anxious{
    background: url(../img/host_icon.png) no-repeat;
    background-position:0 -121px;
    /*padding-right:50px;*/
}
.hostPage .grade_middle{
    background: url(../img/host_icon.png) no-repeat;
    background-position:0 -39px;
    /*padding-right:50px;*/
}
.hostPage .gh_pos, .gl_pos{
    left:113px;
}
.hostPage .ga_pos, .hostPage .gm_pos{
    right:203px;
}
.hostPage .gh_color, .hostPage .ga_color, .hostPage .gl_color, .hostPage .gm_color{
    padding:0 5px;
}
.hostPage .gh_color{
    color:#f58123;
}
.hostPage .ga_color{
    color:#ff153d;
}
.hostPage .gl_color{
    color:#fff;
}
.hostPage .gm_color{
    color:#f8e71c;
}



.hostPage .issueing_infoBox_bgs{
    width:auto;
    font-size: 12px;
}
.issueing_infoBox .roundBg .star_i{
	left: 5px;
    top: 5px;
}
#page1,#page2 {
    width: 630px;
    line-height: 24px;
    color: #9D9FA8;
    font-size: 12px;
}
.hostPage .issLineH{
    line-height:24px;
}
.hostPage .issLineH label{
    padding:0 10px;
}
.hostPage .issLineH label a{
    color:#9D9FA8;
}
.hostPage .select_city{
    text-align:right;
}
.hostPage .lable_isActive{
    /*border:1px solid #575C6A;
    border-radius:3px;
    height: 19px;*/
    display: inline-block;
    position:relative;
    top:6px;
}
#detectionType {
    width: auto;
        top: 14px;
    position: relative;
    padding: 0px 29px 0 8px;
}
.transf{
	    top: 14px;
    position: relative;
}
/* .hostPage .lable_isActive input{
    display: inline-block;
    line-height:18px;
    width: 55px;
    background: #2e3344;
    color:#575C6A;
    font-size:12px;
    position:relative;
    top:-6px;
    cursor: pointer;
}
.hostPage .lable_isActive input.on{
    background: #000;
}
.hostPage .lable_isActive input:nth-child(1){
    border-right:1px solid #575C6A;
}
 */
.hostPage .lable_isActive a{
    display: block;
    float:left;
    line-height:19px;
    width: 55px;
    background: #2e3344;
    color:#575C6A;
    font-size:12px;
    position:relative;
    top:0px;
    cursor: pointer;
    border-top:1px solid #575C6A;
    border-bottom:1px solid #575C6A;
}
.hostPage .lable_isActive a:nth-child(1){
	border-left:1px solid #575C6A;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.hostPage .lable_isActive a:nth-child(3), .hostPage .lable_isActive .rightBr{
	border-right:1px solid #575C6A;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.lable_isActive{
	font-size:0;
}
.hostPage .lable_isActive a.on{
    background: #000;
}
.hostPage .lable_isActive a-child(1){
    border-right:1px solid #575C6A;
}

.hostPage .lr_direction{
    /*flex-direction:column-reverse;*/
    direction: rtl;
}
.hostPage .select_city select{
    display:inline-block;
    margin:0 0 0 20px;
    /*direction: ltr;*/
}
.hostPage .hostTab tr th:nth-child(1){
    width:15%;
}
.hostPage .hostTab tr th:nth-child(2), .hostPage .hostTab tr th:nth-child(3){
    width:28%;
}
.hostPage .hostTab tr th:nth-child(4), .hostPage .hostTab tr th:nth-child(5){
    width:7%;
}
.hostPage .hostTab tr th:nth-child(6){
    width:15%;
}
/*.hostPage .hostTab tr .t_center{*/
    /*text-align: center;*/
/*}*/
/*.hostPage .hostTab tr .t_line {*/
    /*border-left:1px solid #1c1e2f;*/
/*}*/
.hostPage .hostTab tr td:nth-child(4), .hostPage .hostTab tr th:nth-child(4), .hostPage .hostTab tr td:nth-child(5),
.hostPage .hostTab tr th:nth-child(5), .hostPage .hostTab tr td:nth-child(6), .hostPage .hostTab tr th:nth-child(6){
    text-align: center;
    border-left:1px solid #1c1e2f;
}
.hostPage .hostTab tr td:nth-child(1), .hostPage .hostTab tr th:nth-child(1){
       padding-left: 28px;
}
.hostPage .hostDetailTab tr td:nth-child(1), .hostPage .hostDetailTab tr th:nth-child(1){
       padding-left: 28px;
       text-align: left;
}
.hostPage .hostDetailTab tr td:nth-child(3), .hostPage .hostDetailTab tr th:nth-child(3){
		text-align: left;
}

.hostPage .hostTab tr .t_radius, .hostPage .hostDetailTab tr .t_radius, .detectionTal .t_radius, .t_radius{
    border-radius: 50%;
    border: 1px solid #9D9FA8;
    /* padding: 3px 4px; */
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
}
.hostPage .tab_child{
    padding:0 20px;
}
.hostPage .hostDetailTab tr td, .hostPage .hostDetailTab tr th{
    text-align: center;
}
.hostPage .hostDetailTab .attackType, .attackType{
    padding: 2px 10px;
    color:#fff;
}
.attackType {
    margin-right: 10px;
}
.detecteStatus {
    padding: 2px 8px;
}
.hostPage .hostTab .roundBg{
	margin:0px 8px -6px 0;
	display:inline;
	padding:2px 0;
}
.hostPage .hostTab .roundBg .ic_host{
	background-position: 3px -163px;
}
.hostPage .hostTab .t_radius{
	width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    padding:0;
}


.hd_conBtn{
    background:#060a17;
    font-size:12px;
    color:#4A4C53;
    line-height:25px;
}
.hd_conBtn i{
    font-style:normal;
    position: relative;
    top:10px;
}
.hd_conBtn span{
    padding:10px 20px;
    cursor:pointer;
}
.hd_conBtn span.on{
    color:#d9dbde;
    background: url(../img/host_icon.png) no-repeat;
    background-position:-39px -256px;
}
/**检测模式**/
.hostPage .hd_echarts{
    padding:20px 20px 0 20px;
    font-size:12px;
    color:#d1d4db;
}
.hostPage .hd_ipInfo p{
    line-height:20dpx;
    word-break: break-all;
    padding-top:7px;
    padding-right:10px;
}
.hostPage .hd_ipInfo span{
   padding:0 4px;
}
.hostPage .labelNum{
    width:120px;
    height:120px;
    border-radius:50%;
    display:inline-block;
    text-align: center;

    line-height:30px;
    position:absolute;
    top:0px;
}
.hostPage .labelNum.menace{
    background:rgba(35,96,168,0.3);
    border:1px solid #3391ff;
    /* left:-28px; */
}
.hostPage .labelNum.trust{
    background:rgba(116,118,4,0.3);
    border:1px solid #74bc04;
    /* left:120px; */
    left:182px;
}
.hostPage .labelName{
    margin:10px 0;
}
.hostPage .labelName a{
    padding:0px 15px 0px 10px;
    border-radius:3px;
    background-color:#25293c;
    margin:5px;
    display:inline-block;
    background: url(../img/dlabel.png) right center no-repeat #25293c;
    /*background-position:72px -249px;*/
}
.hostPage .hd_relation{
    width:400px;
    height:175px;
}
.hd_relation{
    text-align: center;
}
.hostPage .hd_relation i{
    display: inline-block;
    width:20px;
    height:15px;
    background: url(../img/host_icon.png) no-repeat;
    background-position:-328px -157px;
    position: relative;

}
.hostPage .hd_relation i.id1{
       left: -231px;
    top: 55px;
    transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
    /* background-position:-328px -157px; */
}
.hostPage .hd_relation i.id2{
   left: -171px;
    top: 5px;
    transform:rotate(135deg);
	-ms-transform:rotate(135deg); 	/* IE 9 */
	-moz-transform:rotate(135deg); 	/* Firefox */
	-webkit-transform:rotate(135deg); /* Safari 和 Chrome */
	-o-transform:rotate(135deg); 	/* Opera */
    /* background-position:-370px -157px; */
}
.hostPage .hd_relation i.id3{
    left: -115px;
    top: 53px;
    transform:rotate(224deg);
	-ms-transform:rotate(224deg); 	/* IE 9 */
	-moz-transform:rotate(224deg); 	/* Firefox */
	-webkit-transform:rotate(224deg); /* Safari 和 Chrome */
	-o-transform:rotate(224deg); 	/* Opera */
    /* background-position:-445px -158px; */
}
.hostPage .hd_relation i.id4{
    right:-20px;
    /* background-position:-409px -159px; */
}
.hostPage .hd_relation .hd_re_round{
    display: inline-block;
    width:60px;
    height:60px;
    line-height:60px;
    border-radius:100%;
    text-align: center;
    background-color:#252b42;
    position: relative;
}
.hostPage .hd_relation .hd_re_round.r4{
    left:1px;
}
.hostPage .hd_relation .hd_re_round.r6{
    left: 103px;
    top: 0px;
}
.hostPage .hd_relation .hd_re_round.r7{
    left: 42px;
    top:100px;
}
.hostPage .hd_relation .hd_re_round.r1{
    top:100px;
    left:-187px;
}
.hostPage .hd_relation .hd_re_round.r1.bg{
	background:#2796b3;
}
.hostPage .hd_relation .hd_re_round.r4.bg{
	background:#b2a71d;
}
.hostPage .hd_relation .hd_re_round.r6.bg{
	background:#b61a32;
}
.hostPage .hd_relation .hd_re_round.r7.bg{
	background:#6912bc;
}

/* .hostPage .hd_relation .hd_re_round.r1{
    left:-100px;
}
.hostPage .hd_relation .hd_re_round.r2{
    right:-100px;
}
.hostPage .hd_relation .hd_re_round.r3{
    left:-36px;
}
.hostPage .hd_relation .hd_re_round.r4{
    right:-36px;
} */
.hd_colorExplain{
    margin:10px 0 0 0;
    /* padding:0 0 0 39px */
}
.hd_colorExplain ul li{
    float: left;
    margin:3px 10px 0 2px;
    height:10px;
    width:45px;
}

.hd_reChart{
    padding-left:19px;
    font-size:12px;
    color:#d9dbde;
}
.hd_chart_date ul li{
    float: left;
}
.hd_chart_date ul li a{
    color:#317FDA;
    padding:0 5px;
    cursor: pointer;
}
.hd_chart_date ul li a:hover, .hd_chart_date ul li a.on{
    color:#d9dbde;
}
.hd_mdetection{
    margin:0 20px 0 10px;
}
.detec_hdDate{
	padding-left:32px;
}

/**主机表**/
.topCoorPoint, .rightCoorPoint{
    width:96%;
    height:20px;
    line-height:20px;
    margin:0 2%;
    color:#555a6b;
}
.rightCoorPoint{
    width:2%;
    height:400px;
    /*top:56px;*/
    top:129px;
    right:-2%;
    text-align:center;
}
.topCoorPoint span, .rightCoorPoint ul li{
    position: absolute;
    font-size:12px;
}
.rightCoorPoint ul li{
    display: block;
    width:100%;
    text-align: center;
}

.bottomCoorPoint .triangle-right, .leftCoorPoint .triangle-up{
    position: relative;
    z-index:10;
}
.bottomLine{
    display: inline-block;
    width: 97%;
    border-top:2px solid #333643;
    position: relative;
    top: -3px;
    left:1%;
}
.leftCoorPoint{
    width:2%;
    height:448px;
    /*top:56px;*/
    top:129px;
    left:1px;
    text-align:center;
}
.leftLine{
    display: block;
    width: 1px;
    height:92%;
    border-left:2px solid #333643;
    position: relative;
    top:-5px;
    left:47.5%;
}
.bottomName{
    padding:2px 10px;
    background:#0C0F20;
    position: absolute;
    left:48%;
    top:1px;
    font-size:12px;
    color:#555a6b;
}
.leftName{
    padding:10px 0;
    background:#0C0F20;
    position: absolute;
    left:26%;
    top:46%;
    font-size:12px;
    color:#555a6b;
}



.hostChart{
    width:96%;
    height:400px;
    border:1px solid #2f3348;
    margin:2px 2% 10px 2%;
}
.hostChart .hostPoint{
    position: absolute;
    width:20px;
    height:20px;
}
.host_i, .plus_i, .star_i{
    display:block;
    width:20px;
    height:20px;
    position: relative;
}
.host_i{
    background: url(../img/host_icon.png) no-repeat;
    background-position:4px -158px;
}
.plus_i{
    background: url(../img/host_icon.png) no-repeat;
    background-position:-24px -160px;
}
.star_i{
    background: url(../img/host_icon.png) no-repeat;
    background-position:-54px -162px;
}




/**五种颜色**/
.hostPage .hostDetailTab .attackType.c_violet, .hostPage .hd_relationCon .c_violet, .c_violet, .stage_7{
    background:#6912bc;
}
.hostPage .hostDetailTab .attackType.c_red, .hostPage .hd_relationCon .c_red, .c_red, .stage_6{
    background:#b61a32;
}
.hostPage .hostDetailTab .attackType.c_orange, .hostPage .hd_relationCon .c_orange, .c_orange{
    background:#b68435;
}
.hostPage .hostDetailTab .attackType.c_yellow, .hostPage .hd_relationCon .c_yellow, .c_yellow, .stage_4{
    background:#b2a71d;
}
.hostPage .hostDetailTab .attackType.c_blue, .hostPage .hd_relationCon .c_blue, .c_blue, .stage_1{
    background:#2796b3;
}

/**小图标**/
.ic_label, .ic_dispose, .ic_pcaps, .ic_property, .ic_reset, .host_icon, .ic_host, .ic_file, .property, .host_icon_2, .ic_star, .ic_pano{
    display: inline-block;
    width:15px;
    height:15px;
    padding:0 2px;
    margin:0 0 -5px 0;
}
.ic_label{
    background: url(../img/host_icon.png) no-repeat;
    background-position:-149px -157px;
}
.ic_dispose{
    background: url(../img/host_icon.png) no-repeat;
    background-position:-252px -157px;
}
.ic_pcaps{
    background: url(../img/host_icon.png) no-repeat;
    background-position:-286px -157px;
}
.ic_property{
    background: url(../img/host_icon.png) no-repeat;
    background-position:-183px -157px;
    margin:0 0 -4px 0;
    width: 19px;
    height: 20px;
}
.ic_property.on{
	background: url(../img/host_icon.png) no-repeat;
	background-position:-80px -156px;
}
.ic_reset{
    background: url(../img/host_icon.png) no-repeat;
    background-position:-219px -159px;
    margin:0 0 -2px 0;
    width: 17px;
}
.host_icon{
    background: url(../img/host_icon.png) no-repeat;
    background-position:0 0;
    margin:0 10px -9px 0;
    width: 36px;
    height: 36px;
}
.ic_host{
    background: url(../img/host_icon.png) no-repeat;
    background-position:0 -159px;
}
.ic_file{
    width: 19px;
    height: 23px;
    background: url(../img/../img/host_icon.png) no-repeat;
    background-position: -498px -157px;
}
.property{
    width: 22px;
    height: 27px;
}
.property.kernel_1{
    background: url(../img/host_icon.png) no-repeat;
    background-position: 0 -206px;
}
.property.kernel_0, .property.kernel_2{
    background: url(../img/host_icon.png) no-repeat;
    background-position: -42px -206px;
}
.host_icon_2{
    width:28px;
    height:24px;
    background: url(../img/mainframe.png) no-repeat;
    top: 17px;
    left: 13px;
}
.ic_star{
	background: url(../img/host_icon.png) no-repeat;
    background-position: -55px -162px;
    top: -5px;
}
.ic_pano{
	background: url(../img/plat_icon0.png) no-repeat;
	width: 36px;
    height: 36px;
    background-size: 34px auto;
    margin: 0px 5px -9px 0;
}


/**圆形背景**/
.roundBg{
    border-radius:100%;
    display: inline-block;
    position: relative;
}
.round_min{
    width:20px;
    height:20px;
}
.roundBg i{
    position: relative;
}
.round_min i{
    top: -8px;
    left: 4px;
}
.round_m1{
    width:25px;
    height:25px;
}
.round_med{
    width:30px;
    height:30px;
}
.round_medmax{
    width:40px;
    height:40px;
}
.round_med i{
    left:3px;
    top:1px;
}
.round_max{
    width:55px;
    height:55px;
}
.round_max2{
    width:50px;
    height:50px;
}
.round_max3{
    width:45px;
    height:45px;
}

.lj_tabl .roundBg.round_m1 .round_min{
    top: 2.55px;
    left: -0.55px;
}

.roundBgc_dgray, .hd_security_level ul li i.dj1{
    background:#545864;
}
.roundBgc_gray, .hd_security_level ul li i.dj2{
    background:#8b8e98;
}
.roundBgc_yellow, .hd_security_level ul li i.dj3{
    background:#ffc100;
}
.roundBgc_orange, .hd_security_level ul li i.dj4{
    background:#fa7420;
}
.roundBgc_red, .hd_security_level ul li i.dj5{
    background:#ee1029;
}


/**关联模式**/
.hd_security_level ul{
    float: right;
    padding-right:40px;
}
.hd_security_level ul li{
    display: block;
    float: left;
    text-align: center;
}
.hd_security_level ul li i{
    display: inline-block;
    width:45px;
    height:10px;
}

.lj_tabl tr th{
    background:#090e1e;
    border-top:1px solid #212533;
}
.lj_tabl .roundBg{
    top:0px;
}
.hostJLTab tr td:nth-child(1), .hostJLTab tr th:nth-child(1){
    text-align: left;
    padding-left:28px;
}
.hostJLTab tr td:nth-child(2), .hostJLTab tr th:nth-child(2){
    border-left:1px solid #1c1e2f;
    border-right:1px solid #1c1e2f;
    width:40%;
}
.hostJLTab tr td:nth-child(2), .hostJLTab tr th:nth-child(2), .hostJLTab tr td:nth-child(3), .hostJLTab tr th:nth-child(3), .hostJLTab tr td:nth-child(4), .hostJLTab tr th:nth-child(4){
    text-align: center;
}


/**关联模式中的图表**/
.hdg_chart{
    width:100%;
    height:350px;
}
/*.hdg_chart_main{*/
    /*position:absolute;*/
    /*top:33%;*/
    /*left:50%;*/
    /*margin:-25px 0 0 -25px;*/
/*}*/
/*.hdg_manyhost ul li{*/
    /*position: absolute;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(1){*/
    /*top:0;*/
    /*left:50%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(2){*/
    /*top: 19px;*/
    /*left: 56%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(3){*/
    /*top: 64px;*/
    /*left: 60%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(4){*/
    /*top: 118px;*/
    /*left: 62%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(5){*/
    /*top: 169px;*/
    /*left: 61%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(6){*/
    /*top: 217px;*/
    /*left: 57%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(7){*/
    /*top: 239px;*/
    /*left: 51%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(8){*/
    /*top: 225px;*/
    /*left: 45%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(9){*/
    /*top: 182px;*/
    /*left: 41%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(10){*/
    /*top: 116px;*/
    /*left: 40%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(11){*/
    /*top: 59px;*/
    /*left: 41%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
/*.hdg_manyhost ul li:nth-child(12){*/
    /*top: 15px;*/
    /*left: 45%;*/
    /*margin:-15px 0 0 -15px;*/
/*}*/
.htd_detail .borderTriangle3{
    width: 100%;
    height: 10px;
    border-bottom: 1px solid #9da0a9;
    margin-left: 0px;
}
.htd_detail .borderTriangle3 .triangle-right{
    position: relative;
    left: 50%;
}
.htd_detail .borderTriangle3 .triangle-left{
    position: relative;
    left: -50%;
}
.htd_detail .roundBg{
    top:-4px;
}
.borderTriangle5{
    width: 100px;
    height: 10px;
    border-bottom: 1px solid #9da0a9;
    margin:0 auto;
}
.borderTriangle5 .triangle-left, .borderTriangle5 .triangle-right{
    position: relative;
    top: -10px;
    left: -52px;
}
.borderTriangle5 .triangle-right{
    left:44px;
}


/*表格进度条*/
.dataLength{
    display:inline-block;
    height:10px;
}
.dGreen{
    background: url(../img/dGreen.png) 0 center no-repeat #4c871d;
    /*background-position:0px -311px;*/
}
.dBlue{
    background: url(../img/dBlue.png) right center no-repeat #2a4f82;
    /*background-position:0 -328px;*/
}

/**箭头**/
.triangle-up{
    display:inline-block;
    width:0;
    height:0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 13px solid #9da0a9;
}
.triangle-down {
    display:inline-block;
    width:0;
    height:0;
    border-left:4px solid transparent;
    border-right: 4px solid transparent;
    border-top:15px solid #9da0a9;}
.triangle-left {
    display:inline-block;
    width:0;
    height:0;
    border-top: 4px solid transparent;
    border-right: 15px solid #9da0a9;
    border-bottom: 4px solid transparent;
}
.triangle-right{
    display:inline-block;
    width:0;
    height:0;
    border-top: 4px solid transparent;
    border-left: 15px solid #9da0a9;
    border-bottom: 4px solid transparent;
}
.borderTriangle, .borderTriangle2{
    width:30px;
    height:25px;
    border-top:1px solid #9da0a9;
    border-left:1px solid #9da0a9;
}
.borderTriangle2{
    border-top:0px solid;
    border-left:1px solid #9da0a9;
    border-bottom:1px solid #9da0a9;
}
.borderTriangle3{
    width:30px;
    /* height:25px; */
    border-bottom:1px solid #9da0a9;
    margin-left: 24px;
}
.borderTriangle4{
    width:150px;
    height:1px;
    border-bottom:1px solid #9da0a9;
    margin: 0 23px 0 5px;
}
.borderTriangle4 .triangle-right{
    position: absolute;
    top: -2px;
    left: 150px;
}
.borderTriangle6{
	margin-left: 23px;
    width:30px;
    height:25px;
    border-top:1px solid #9da0a9;
    border-right: 1px solid #9da0a9;
}
.borderTriangle6 .triangle-down{
	position: absolute;
    left: 26px;
    top: 21px;
}
.selectedBtn{
	border-top: 7px solid #9da0a9;
	position:relative;
	left:-17px;
}

.invade_top .triangle-right, .invade_bottom .triangle-right{
    position: absolute;
    top:-4px;
    left:29px;
}
.invade_bottom .triangle-right{
    top:22px;
}
.invade_top .attackType{
    top:-6px;
    left:23px;
}
.invade_bottom .attackType{
    top:17px;
    left:23px;
}
/**弹窗**/
.invadeInfo, .circleInfo, .coorPointInfo{
    width:188px;
    height:145px;
    padding:5px;
    border:1px solid #434343;
    background:#0C0F20;
    z-index:999;
    color:#ccc;
    font-size:12px;
    border-radius:3px;
}
.circleInfo{
    width:323px;
    height:auto;
}
.circleInfo .close{
    width: 15px;
    height: 15px;
    line-height: 12px;
    background: #666;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 6px;
    right: 5px;
    cursor:pointer;
}
.circleInfo .black_btn{
	margin:0 0 0 113px;
}
.coorPointInfo{
    width:380px;
    /* min-height:260px; */
    height:auto;
    padding:5px 10px;
}
.coorPointInfo p{
    line-height:23px;
}
.coorPointInfo .t_radius{
    display: block;
    margin: 10px 0 0 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #242737;
    border: 1px solid #4c4e59;
    overflow: hidden;
}
.coorPointInfo .f_one .text-c .t_radius{
    margin:10px auto 0 auto;
}

.invadeInfo p{
	padding:5px 0;
}
.invadeInfo p a.close{
	float: right;
    width: 15px;
    height: 15px;
    color: #ccc;
    border: 1px solid #333;
}
.invadeInfo ul li{
	line-height:20px;
	padding:0 5px;
}
.roundIcon{
	width:10px;
	height:10px;
	display:inline-block;
	border-radius:100%;
	margin-right:10px;
}
.roundIcon.bg_1{
	background:#b2a71d;
}
.roundIcon.bg_4{
	background:#2796b3;
}
.roundIcon.bg_6{
	background:#b68435;
}
.roundIcon.bg_7{
	background:#b61a32;
}




/**检测**/
.check_icon{
	display:inline-block;
	width:50px;
	height:45px;
	background:url(../img/plat_icon3.png) no-repeat;
    background-position:center 28px;
    background-size: 36px 17px;
}
.hostPage .issLineH .lable_isActive input{
    top:-6px;
}
.hostPage .issLineH .lable_isActive{
    top:-1px;
}
.hostPage .issLineH .detecPos{
    position: relative;
    top:14px;
}

.hostTab tr td span.tab_name, .detectionTal tr td span.tab_name{
	cursor:pointer;
}
.detectionTal tr th:nth-child(1), .detectionTal tr td:nth-child(1){
    padding:0 0 0 28px;
    text-align: left;
}
.detectionTal tr th:nth-child(2), .detectionTal tr td:nth-child(2),.detectionTal tr th:nth-child(5), .detectionTal tr td:nth-child(5) ,
.detectionTal tr th:nth-child(6), .detectionTal tr td:nth-child(6), .detectionTal tr th:nth-child(7), .detectionTal tr td:nth-child(7){
    text-align: center;
}
.detectionTal tr th:nth-child(4), .detectionTal tr td:nth-child(4), .detectionTal tr td:nth-child(3),.detectionTal tr th:nth-child(3){
	  text-align: left;

 }
 .detectionTal tr th:nth-child(1){
  width:6%
 }
 .detectionTal tr th:nth-child(2){
    width:16%
 }

.detectionTal tr th:nth-child(3), .detectionTal tr th:nth-child(4){
    width:22%
 }
 .detectionTal tr th:nth-child(5), .detectionTal tr th:nth-child(6){
    width:7%
 }
 .detectionTal tr th:nth-child(7){
    width:20%
 }
.deteTitle{
    font-size:12px;
    color:#fff;
    text-align: center;
    margin:0 10px 0 0;
}
.sourceMap .host_icon{
    top: 10px;
    left: 6px;
}
.sourceMap .padd_tb1{
    padding:5px 0;
}
.sourceMap .deteTitle{
    line-height: 36px;
    margin:10px 0 0 0;
}



.detec-widget-content{
	width:100%;
	height:5px;
	background: #315820;
	position:relative;
}
#slider{
	background: #1e365b;
	
}
.slider2_i, .slider_i{
	display:inline-block;
	min-width:20px;
	height:5px;
	background:#5fab1c;
	position:absolute;
}
.slider_i{
	background: #33629e;
	width:40px;
}
/**滑动条
.ui-widget.ui-widget-content {

}
.ui-widget-content {
    border: 1px solid #315820;
    background: #315820;
    color: #333333;
}
.trust .ui-widget-content {
    border: 1px solid #1e365b;
    background: #1e365b;
    color: #1e365b;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

.ui-slider-horizontal {
    height:5px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #5fab1c;
    background: #5fab1c;
    font-weight: normal;
    color: #454545;
}
.trust .ui-state-default, .trust .ui-widget-content .ui-state-default,
.trust .ui-widget-header .ui-state-default, .trust .ui-button, html .trust .ui-button.ui-state-disabled:hover,
html .trust .ui-button.ui-state-disabled:active{
    border:1px solid #33629e;
    background: #33629e;
    font-weight: normal;
    color: #33629e;
}
.ui-slider-horizontal .ui-slider-handle {
    top:-1px;
    margin-left:-1px;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width:30px;
    height:5px;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
}**/
.silderValue i{
    display: block;
    width:1px;
    height:30px;
    border-left:1px solid #4c4e59;
    position: relative;
    left:19px;
}
.silderValue span{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #4c4e59;
    background: #242737;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
}



/**圆**/
.circleCon{
    position: relative;
    width:100%;
    /*height:400px;*/
    height:455px;
    
}
.circleCon .dot{
    position: absolute;
    width:55px;
    height:55px;
}
.circleCon .dot .round_max3{
    top:5px;
    left:5px;
}
.circleCon .dot .round_max3 i{
    top: 10px;
    left: 8px;
}
.circleCon .dot .roundBgc_orange{
    /* background:rgba(255,182,62,0.8); */
}
.circleCon .dot .roundBgc_gray{
   background:rgba(133,135,144,0.5);
}
.circleCon .dot .host_icon{
    background: url(../img/mainframe.png) no-repeat;
    background-position: 0 0;
    margin: 0 10px -9px 0;
    width: 28px;
    height: 24px;
}
.circleCon .dot .host_star{
    background: url(../img/host_star.png) no-repeat;
    width: 28px;
    height: 24px;
    position:absolute;
}
.circleCon .box{
    position: absolute;
    width:30px;
    height:30px;
    cursor:pointer;
}
.circleCon .box .roundBg .ic_host {
    background: url(../img/../img/mainframe.png) no-repeat;
    background-size:15px 13px;
    top: 3px;
    left: 7px;
}
.close_btn{
	display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 100%;
    color: #ccc;
    background: #333;
}
.hostPage table tr td{
	height:50px;
}
.hostPage table tr th{
	height:25px;
	line-height:25px;
}
.threatBtn i, .receTimeBtn i{
	display: inline-block;
    width: 9px;
    height: 14px;
    margin: 0 0 -3px 5px;
    background: url(../img/host_icon.png) no-repeat;
    background-position: 0 -324px;
}
.threatBtn i.on, .receTimeBtn i.on{
	background: url(../img/host_icon.png) no-repeat;
    background-position:-61px -326px;
}
.lj_tabl .round_min i{
	/* top: -10px;
    left: 4px; */
    top: -1px;
    left: 4px;
}
.lj_tabl .roundBg.round_min .star_i{
	top:0;
	left:0;
}
.lj_tabl .round_min .ic_host{
	background: url(../img/host_icon.png) no-repeat;
    background-position: 0 -159px;
}
.hd_ipInfo .ic_label, .hd_ipInfo .ic_dispose, .hd_ipInfo .ic_pcaps{
	margin: 0 2px -3px 0;
}
.hostPage .hostDetail_mOnline tr td{
	cursor: pointer;
}
.hostDetail_mOnline .hd_reChart{
	padding-left:0;
}
.hostDetail_mOnline tr td:nth-child(1), .hostDetail_mOnline tr th:nth-child(1){
	padding-left:13px;
	text-align:center;
}
.lj_tabl .round_min .externalIc i{
	top:0;
	left:0;
}


/* 分页 */
.pagetion a, .pagetion span{
    width: auto;
    min-width: 22px;
    height: 22px;
    border: 1px solid #d4d8df;
    cursor: pointer;
    display: inline-block;
    line-height: 22px;
    margin:0 4px;
    color:#d4d8df;
}
.pagetion span.current{
    background: #000;
}

.pagetion ul li{
    width: auto;
    min-width: 22px;
    height: 22px;
    border: 1px solid #d4d8df;
    cursor: pointer;
    display: inline-block;
    line-height: 22px;
    margin:0 4px;
    color:#d4d8df;
}
.pagetion ul li a.Current{
    background: #000;
}

.label_name{
	width: 80%;
    height: 27px;
    margin: 0 10%;
}
.detec_particulars_btn{
	font-size: 12px;
    color: #fff;
    padding: 2px 10px 3px 10px;
    background: #ccc;
    border-radius: 25px;
    position: relative;
    top: -2px;
}

/*bootstrap分页*/
.pagination li{
	display:inline-block;
	font-size:12px;
	border: 1px solid #6d6f79;
    min-width: 22px;
    height: 22px;
    line-height: 22px;
    color: #575C6A;
    cursor: pointer;
    text-align:center;
    margin-right:8px;
}
.pagination li a{
	display:inline-block;
	width:98%;
	height:100%;
}
.pagination li a[title~=Current]{
	background: #000;
	color:#8C8E95;
}
.pagination li a[title~=first], .pagination li a[title~=previous], .pagination li a[title~=next], .pagination li a[title~=last]{
	font-family: serif,fantasy;
    font-weight: bold;
}

#disposeDiv .txt_enter input{
	width:auto!important;
	position: relative;
    top: 8px;
    cursor:pointer;
}
.error_str{
	text-align: center;
    width: 100%;
    color: #a11a19;
    font-size:14px;
    padding:5px 0;
    height:20px;
}


.select_city_label{
	  margin-top: 26px;
    float:left;
}
.hostPage .select_city_label select{
	margin:0;
	width:129px;
}
.h_labelSelect{
	font-family: "\5FAE\8F6F\96C5\9ED1";
	background: #2e3344;
	height: 25px;
	line-height: 25px;
	border: 1px solid #575C6A;
	text-align: left;
	border-radius: 5px;
	color: #d9dbde;
	width: 118px;
	padding-left: 5px;
	padding-right: 5px;
	font-size:12px;
	float:left;
	overflow:hidden;
}
.h_labelSelectOption{
    top: 24px;
    /*left: 20px;*/
    background: #2e3344;
    width: 128px;
    height:140px;
    overflow-y:scroll;
    border-left: 1px solid #575C6A;
    border-right: 1px solid #575C6A;
    border-bottom: 1px solid #575C6A;

}
.h_labelSelectOption ul li, .h_labelSelectOption ul li a{
	display:block;
}
.h_labelSelectOption ul li a{
	width:98%;
	line-height:20px;
	text-align:left;
	padding:0 1%;
	color:#fff;
	font-size:12px;
}
.h_labelSelectOption ul li a label input{
	width: 16px;
    height: 16px;
    margin: 0 5px -5px 0;
    position: relative;
    top: 5px;
}
.h_labelSelectOption ul li a:hover{
	background:#3399ff;
}
  
.text_edit.clearfix {
    font-size: 14px;
}
#relevanceHostCon .roundBg  .star_i{
	display:inline-block;
	left:0;
}

.anmationPoint{
  	animation: fadeIn 1s 0s 1 both; 
}
.anmationLine{
	animation: fadeIn 1s .2s 1 both; 
}

@-webkit-keyframes fadeIn{
	0%{opacity:0;filter:alpha(opacity=0)}
	100%{opacity:1;filter:alpha(opacity=100)}
}
@keyframes fadeIn{
	0%{opacity:0;filter:alpha(opacity=0)}
	100%{opacity:1;filter:alpha(opacity=100)}
}

/*		
.fadeIn{
  animation: fade-in; 
  animation-duration:2s;
  -webkit-animation:fade-in 2s;
}

.fadeIn{
	 -webkit-animation-name:fadeIn;animation-name:fadeIn;
	-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in; 
}
@-webkit-keyframes fadeIn{
	0%{opacity:0;filter:alpha(opacity=0)}
	100%{opacity:1;filter:alpha(opacity=100)}
}
@keyframes fadeIn{
	0%{opacity:0;filter:alpha(opacity=0)}
	100%{opacity:1;filter:alpha(opacity=100)}
}
*/

/* @keyframes fade-in {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}  
@-webkit-keyframes fade-in {
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}   */ 