<!DOCTYPE html>
<html>

	<head>

		<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript">
			var content_hei = $(document).height() - 100 + 'px'
			$(".page .content").css('height', content_hei);
		</script>
	</head>

	<body>

		<header class="header">
			<div class="main_content_header">
				<div class="main_title"><img src="/static/img/plat_icon7.png" width="27" height="28">资源</div>
			</div>
		</header>
		<section class="content">
			<div class="resource_contain">
				<div class="res">
					<div class="resource_column">
						<p class="res_title"><span>Release Notes</span></p>
						<img src="/static/img/part6.png" />
					</div>
					<span class="download_btn">Download</span>
					<p class="res_text">In a world confronted with risks and uncertainties, China remains unwavering in opening up to the rest of the world, while domestically persisting in reform and tackling financial challenges.</p>

				</div>

				<div class="res">
					<div class="resource_column">
						<p class="res_title"><span>Understanding AI</span></p>

						<img src="/static/img/part5.png" />
					</div>
					<span class="download_btn">Download</span>
					<p class="res_text">In a world confronted with risks and uncertainties, China remains unwavering in In a world confronted with risks In a world confronted with risks and uncertainties, China remains unwavering in and uncertainties, China remains unwavering in opening up to the rest of the world, while domestically persisting in reform and tackling financial challenges.</p>
				</div>
				<div class="res">
					<div class="resource_column">
						<p class="res_title"><span>Understanding Host Scoring</span></p>

						<img src="/static/img/part4.png" />
					</div>
					<span class="download_btn">Download</span>
					<p class="res_text">In a world confronted with risks and uncertainties, China remains unwavering in opening up to the rest of the world, while domestically persisting in reform and tackling financial challenges.</p>
				</div>
				<div class="res">
					<div class="resource_column">
						<p class="res_title"><span>Deployment Guide</span></p>

						<img src="/static/img/part3.png" />
					</div>
					<span class="download_btn">Download</span>
					<p class="res_text">In a world confronted with risks and uncertainties, China remains unwavering in opening up to the rest of the world, while domestically persisting in reform and tackling financial challenges.</p>
				</div>
				<div class="res">
					<div class="resource_column">
						<p class="res_title"><span>Data Center Deployment Guide</span></p>

						<img src="/static/img/part4.png" />
					</div>
					<span class="download_btn">Download</span>
					<p class="res_text">In a world confronted with risks and uncertainties, China remains unwavering in opening up to the rest of the world, while domestically persisting in reform and tackling financial challenges.</p>
				</div>
				<div class="res">
					<div class="resource_column">
						<p class="res_title"><span>Campus Senior Installation Guide</span></p>

						<img src="/static/img/part3.png" />
					</div>
					<span class="download_btn">Download</span>
					<p class="res_text">In a world confronted with risks and uncertainties, China remains unwavering in opening up to the rest of the world, while domestically persisting in reform and tackling financial challenges.</p>
				</div>
			</div>

		</section>

	</body>

</html>